<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="scc.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="simpleChatClient.PerspectiveFactory1"
            id="SimpleChatClient.perspective1"
            name="SimpleChatClient.perspective1"/>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="SC2.application"
            name="SC2"/>
   </extension>

</plugin>
