<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="sc2"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="net.vasterling.sc2.Sc2">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Sc2Perspective"
            class="net.vasterling.sc2.Perspective"
            id="SC2.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Message"
            allowMultiple="true"
            icon="icons/sample2.gif"
            class="net.vasterling.sc2.View"
            id="SC2.view">
      </view>
      <view
            name="Mailboxes"
            allowMultiple="true"
            icon="icons/sample3.gif"
            class="net.vasterling.sc2.NavigationView"
            id="SC2.navigationView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Mail"
            id="SC2.category">
      </category>
      <command
            name="Open Mailbox"
            description="Opens a mailbox"
            categoryId="SC2.category"
            id="SC2.open">
      </command>
      <command
            name="Open Message Dialog"
            description="Open a message dialog"
            categoryId="SC2.category"
            id="SC2.openMessage">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="SC2.open"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+2">
      </key>
      <key
            commandId="SC2.openMessage"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+3">
      </key>
      <key
            commandId="org.eclipse.ui.file.exit"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+X">
      </key>
   </extension>
   <extension
         id="sc2"
         point="org.eclipse.core.runtime.products">
      <product
            application="SC2.sc2"
            name="SC2">
         <property
               name="aboutText"
               value="%aboutText">
         </property>
         <property
               name="windowImages"
               value="icons/sample2.gif">
         </property>
         <property
               name="aboutImage"
               value="product_lg.gif">
         </property>
      </product>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="SC2.sc2"
            name="sc2"/>
   </extension>

</plugin>
